body {
	padding: 0px;
	margin: 0px;
	min-width: 800px;
}

.container {
	height: 3000px;
	padding: 0px;
	margin: 0px;
}


div#left {
	float: left;
	color: black;
	width: 200px;
	margin: 0px;
	padding: 2px 20px;
	height: 100%;
	background: #106060; 
}

div#centre {
	font-size: 11pt;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: black;
	background-color: #F1EBE3;
	line-height: 14pt;
	margin: 0px 240px;
	padding: 2px 20px;
	height: 100%;
}

div#centre_top {
	padding: 2px 20px 0px 20px;
	margin: 0px;
}

div#right {
	float: right;
	color: black;
	width: 200px;
	margin: 0px;
	padding: 2px 20px;
	height: 100%;
	background: #106060; 
}

h1 {
	font: 20pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	line-height: 20pt;
}

h2 {
	font: 14pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 20pt;
}

h3 {
	font: 12pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 20pt;
}

table {
	border-collapse: collapse;
	border-width: thin;
	border-style: solid;
}

th {
	border-width: thin;
	border-style: solid;
}

td#td1 {
	border-left-width: thin;
	border-left-style: solid;
	border-right-width: thin;
	border-right-style: solid;
	text-align: left;
}

td#td2 {
	border-left-width: thin;
	border-left-style: solid;
	border-right-width: thin;
	border-right-style: solid;
	text-align: right;
}

