html {
	background: #bbbbbb;
}

body {
	padding: 0px;
	margin: 0px;
	text-align: center;  /* for IE6 */
}


.wrapper {
	height: 3000px;
	width: 750px;
	padding: 20px;
	margin: auto;
	text-align: left;
	background: #fefefe;
}


div#centre_top {
	padding: 2px 20px 0px 20px;
	margin: 0px;
}

h1 {
	font: 20pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	line-height: 20pt;
}

h2 {
	font: 14pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 20pt;
}

h3 {
	font: 12pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 20pt;
}

table {
	border-collapse: collapse;
	border-width: thin;
	border-style: solid;
}

th {
	border-width: thin;
	border-style: solid;
}

td#td1 {
	border-left-width: thin;
	border-left-style: solid;
	border-right-width: thin;
	border-right-style: solid;
	text-align: left;
}

td#td2 {
	border-left-width: thin;
	border-left-style: solid;
	border-right-width: thin;
	border-right-style: solid;
	text-align: right;
}

