body {
	padding: 0px;
	margin: 0px;
}

div#d1 {
	float: left;
	color: black;
	height: 100%; 
	background: #106060; 
}

div#d2 {
	float: right;
	font-size: 11pt;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: black;
	background-color: #F1EBE3;
	line-height: 14pt;
	margin: 0% 25%;
	padding-left: 20pt;
	padding-right: 20pt;
	padding-top: 5pt;
	height: 3000px;
}

div#d3 {
	padding-left: 25px;
	margin: 0px;
}

h1 {
	font: 20pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	line-height: 20pt;
}

h2 {
	font: 14pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 20pt;
}

h3 {kk
	font: 12pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 20pt;
}

table {
	border-collapse: collapse;
	border-width: thin;
	border-style: solid;
}

th {
	border-width: thin;
	border-style: solid;
}

td#td1 {
	border-left-width: thin;
	border-left-style: solid;
	border-right-width: thin;
	border-right-style: solid;
	text-align: left;
}

td#td2 {
	border-left-width: thin;
	border-left-style: solid;
	border-right-width: thin;
	border-right-style: solid;
	text-align: right;
}

