/*---------------------------*\
  GENERAL
\*---------------------------*/

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*---------------------------*\
  MAIN CONTENT
\*---------------------------*/

#ug-main {
  padding: 0 2em;
  margin-left: 20px;
}

h1 {
  padding-top: 0.2em;
}

h2 {
  padding-top: 1em;
  margin-top: 1em;
}

footer {
  margin-top: 3em;
  margin-bottom: 3em;
  color: #888888;
  font-size: 0.8em;
}

a {
  text-decoration: none;
}

.clickable-title-wrapper {
  color: #000000;
}

p {
  padding-top: 0;
}

.clickable-title:hover {
  cursor: pointer;  
}

@media screen and (max-width: 768px) {
  #ug-main {
    padding: 0 1.25em;
    margin-left: 0;
  }
  h2 {
    padding-top: 0.25em;
    margin-top: 0;
    border-top: #b0b0b0 solid 1px;
  }
}

/*---------------------------*\
  NAVIGATION MENU
\*---------------------------*/

#ug-left-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #dddddd;
  background-image: linear-gradient(to bottom, #f0f0f0, #ababab);
  background-image: -moz-linear-gradient(top, #ffffff, #ababab);
  text-align: right;
  padding-right: 2em;
}

.ug-left-sidebar-heading {
  display: none;
}

nav {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  height: auto;
  color: black;
  text-align: right;
  padding-right: 2em;
}

img {
  position: inline-block;
  padding: 2em 0 0 0;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: blue;
}

.ug-menu-item-selected,
.ug-menu-item-selected:hover {
  color: blue;
}

nav a:focus {
  outline: 0;
  color: blue;
}

.ug-image-link:focus {
  outline: 0;
}

nav ul {
  font-weight: bold;
  list-style-type: none;
}

nav ul ul {
  font-weight: normal;
  font-size: 0.85em;
  padding-left: 1em;
}

nav ul ul li:last-child {
  margin-bottom: 2em;
}

nav li {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

nav > ul > li {
  margin-bottom: 0.8em;
}

@media screen and (max-width: 768px) {
  #ug-left-sidebar {
    display: none;
  }
}

/*---------------------------*\
  PRINT STYLES
\*---------------------------*/

@media print {
  #ug-left-sidebar {
    display: none;
  }
  #ug-main {
    margin-left: auto !important;
  }
}
 

